<header class="header">
  <div class="container">
    <div class="d-flex align-items-center">
        <div class="logo">
            <a href=""><img class="loading-gi" src="/assets/images/logo.png" alt="Logo"></a>
          </div>
          <div class="header-menu ml-auto">
            <ul class="list-unstyled">
              <li>
                <a routerLink= "/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li>
                <a routerLink= "/banner" routerLinkActive="active">banner</a>
              </li>
              <li>
                <a routerLink= "/price" routerLinkActive="active">price</a>
              </li>
              <li>
                <a routerLink= "/services" routerLinkActive="active">services</a>
              </li>
              <li>
                <a routerLink= "/directives" routerLinkActive="active">directives</a>
              </li>
              <li>
                <a routerLink= "/heroes" routerLinkActive="active">heroes</a>
              </li>
            </ul>
          </div>
    </div>
  </div>
</header>
