<header class="header">
  <div class="container">
    <div class="d-flex align-items-center">
        <div class="logo">
            <a href=""><img class="loading-gi" src="/assets/images/logo.png" alt="Logo"></a>
          </div>
          <div class="header-menu ml-auto">
            <ul class="list-unstyled">
              <li><a href="">Home</a></li>
              <li><a href="">banner</a></li>
              <li><a href="">price</a></li>
              <li><a href="">services</a></li>
              <li><a href="">directives</a></li>
              <li><a href="">heroes</a></li>
            </ul>
          </div>
    </div>
  </div>
</header>
