<header class="header">
  <div class="container">
    <div class="d-flex align-items-center">
        <div class="logo">
            <a href=""><img class="loading-gi" src="/assets/images/logo.png" alt="Logo"></a>
          </div>
          <div class="header-menu ml-auto">
            <ul class="list-unstyled">
              <li>
                <a routerLink= "/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li>
                <a routerLink= "/banner" routerLinkActive="active">banner</a>
              </li>
              <li>
                <a routerLink= "/price" routerLinkActive="active">price</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="/services" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/services/service1">service1</a>
                  <a class="dropdown-item" routerLink="/services/service2">service2</a>
                  <a class="dropdown-item" routerLink="/services/service3">service3</a>
                </div>
              </li>
              <li>
                <a routerLink= "/directives" routerLinkActive="active">directives</a>
              </li>
              <li>
                <a routerLink= "/heroes" routerLinkActive="active">heroes</a>
              </li>
            </ul>
          </div>
    </div>
  </div>
</header>
