<footer class="footer">
  <div class="container">
    <div class="d-flex align-items-center">
        <div class="social-share">
          <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
        <div class="footer-logo ml-auto">
          <a href=""><img class="loading-gi" src="/assets/images/logo.png" alt="Logo"></a>
        </div>
    </div>    
  </div>
</footer>
