<section class="price-sec">
  <div class="container">
    <h2 class="text-black-50 mb-4 display-4">Pricing</h2>
    <p class="pb-5">We understand the needs of modern companies, and that’s why we made our pricing policy <span class="d-block"> affordable for every business owner. You can choose a suitable pricing plan below.</span></p>
    <div class="price-block">
      <article class="pricing-modern">
        <ul class="pricing-modern-rating list-unstyled">
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        </ul>
        <h4 class="pricing-modern-title mb-5 mt-3">Small Business</h4>
        <table class="pricing-modern-table">
          <tbody>
            <tr>
              <td>2</td>
              <td>Employees</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Month</td>
            </tr>
            <tr>
              <td>1000</td>
              <td>Minutes</td>
            </tr>
          </tbody>
        </table>
        <p class="pricing-modern-price">
          <span>$</span>
          789.00
        </p>
        <a href="" class="btn btn-primary">Order service</a>
      </article>
      <article class="pricing-modern">
        <ul class="pricing-modern-rating list-unstyled">
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        </ul>
        <h4 class="pricing-modern-title mb-5 mt-3">Medium Business</h4>
        <table class="pricing-modern-table">
          <tbody>
            <tr>
              <td>5</td>
              <td>Employees</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Month</td>
            </tr>
            <tr>
              <td>2000</td>
              <td>Minutes</td>
            </tr>
          </tbody>
        </table>
        <p class="pricing-modern-price">
          <span>$</span>
          1299.00
        </p>
        <a href="" class="btn btn-primary">Order service</a>
      </article>
      <article class="pricing-modern">
        <ul class="pricing-modern-rating list-unstyled">
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        </ul>
        <h4 class="pricing-modern-title mb-5 mt-3">Big Business</h4>
        <table class="pricing-modern-table">
          <tbody>
            <tr>
              <td>10</td>
              <td>Employees</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Month</td>
            </tr>
            <tr>
              <td>4000</td>
              <td>Minutes</td>
            </tr>
          </tbody>
        </table>
        <p class="pricing-modern-price">
          <span>$</span>
          2369.00
        </p>
        <a href="" class="btn btn-primary">Order service</a>
      </article>
      <article class="pricing-modern">
        <ul class="pricing-modern-rating list-unstyled">
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        </ul>
        <h4 class="pricing-modern-title mb-5 mt-3">Corporation</h4>
        <table class="pricing-modern-table">
          <tbody>
            <tr>
              <td>20+</td>
              <td>Employees</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Month</td>
            </tr>
            <tr>
              <td>8000+</td>
              <td>Minutes</td>
            </tr>
          </tbody>
        </table>
        <p class="pricing-modern-price">
          <span>$</span>
          6790.00
        </p>
        <a href="" class="btn btn-primary">Order service</a>
      </article>
    </div>
    <h3 class="text-center py-3">{{newTitle}}</h3>
  </div>
</section>