<div class="structural-directive">
    <h2 class="text-center text-black-50 mb-2">Structural Directive</h2>
    <p class="text-center">Structural directives are responsible for HTML layout. They shape or reshape the DOM's structure, typically by adding, removing, and manipulating the host elements to which they are attached.</p>
    <h3 class="text-black-50 mb-0">NgIf</h3>
    <p class="pt-2">- conditionally add or remove an element from the DOM</p>
    <div *ngIf ="currentstatus">
      Hello {{currentHero.name}}
    </div>
    <div *ngIf ="!currentstatus">
        Hello {{currentHero.number}}
    </div>

    <ul>
      <li *ngFor="let newdate of dates" [innerHTML]="formatMyDate(newdate.mydate, newdate.author)"></li>
    </ul>
    <table class="mt-4">
      <tr>
        <td>S.No</td>
        <td><strong>Name:</strong></td>
        <td><strong>Is Online?</strong></td>
      </tr>
      <tr *ngFor="let record of Records;let i = index; let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd;" [ngClass]="{even: evenRecord, odd:oddRecord, first:firstRecord, last:lastRecord}">
        <td>{{i+1}}</td>
        <td>{{record.name}}</td>
        <td>{{record.online}}</td>
      </tr>
    </table>
    <h2 class="text-center text-black-50 mb-2">SERVICES</h2>
    <input type="text" (input)=getResults($event)>
    {{ Serviceval }}
    <br>
    <br>
    <input type="text" (input)=getCarName($event)><br><br>
    
    <button class="btn btn-secondary" (click)=getCarsList()>Add Car</button>
    <ul>
      <li *ngFor = "let cname of carslist">
        {{cname}}
      </li>
    </ul>
  </div>
