<div class="service_info">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/images/custom-service.jpg" alt="">
      </div>
      <div class="col-sm-6 pl-5">
        <h2 class="mt-5 pt-5">Frequently Asked Questions</h2>
        <h3>Welcome to {{ Name }} <br>Currency {{ (newtext*67.5).toFixed(2) }}</h3>
        <button class="btn btn-primary my-2" (click) = "BtnEvent('Node')">Click Node.!</button>
        <button class="btn btn-primary my-2 mx-3" (click) = "BtnEvent('Angular')">Click Angular.!</button>
        <button class="btn btn-primary my-2" (click) = "BtnEvent('React')">Click React.!</button>
        
        <input type="text" id="" (input) = 'addevent($event)'><br><br>
        <input type="text" id="" [(ngModel)] = "newtext">
        <h4 class="my-3">{{siteUrl}}</h4>

        <button (click)="addtc()">Add TC</button>
        <button (click)="removetc()">Remove TC</button>

      </div>
    </div>
  </div>
