<section class="binding-block">
  <div class="container">
    <h2 class="text-center display-4 text-black-50 mb-5">Bindings</h2>
    <div class="row">
      <div class="col-sm-6">
        <app-attribute-binding></app-attribute-binding>
      </div>
      <div class="col-sm-6">
        <app-property-binding></app-property-binding>
      </div>
      <div class="col-sm-6">
        <app-style-binding></app-style-binding>
      </div>
      <div class="col-sm-6">
        <app-class-binding></app-class-binding>
      </div>
    </div>
  </div>
</section>