<section class="services">
  <div class="container">
    <h2 class="text-center display-4 text-black-50 mb-5">Services</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="servive-block text-center">
          <div class="service-icon">
            <i class="fa fa-wechat" aria-hidden="true"></i>
          </div>
          <h3>Cold Calls</h3>
          <p>Cold calling is a niche field and requires the skills of CallCenter professional agents with exceptional communication skills, persistence, and determination.</p>          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="servive-block text-center">
          <div class="service-icon">
            <i class="fa fa-mail-forward" aria-hidden="true"></i>            
          </div>
          <h3>Sales by Email</h3>
          <p>Despite the technical progress, telephone sales still remain the most efficient tool to be used in promoting your products and services.</p>          
        </div>
      </div>
      <div class="col-sm-4">
          <div class="servive-block text-center">
            <div class="service-icon">
              <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            </div>
            <h3>Support & Booking</h3>
            <p>Whether your business requires quality customer support or is in need of qualified booking department, CallCenter’s team can help you.</p>          
          </div>
        </div>
    </div>
    <app-service-info></app-service-info>
  </div>
</section>

