/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body{font-family: 'Roboto Slab', serif;}
a,
a:hover,
.btn,
.btn:hover {transition: all 0.25s ease; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.25s ease;}
ul {margin: 0; padding:  0;}
p {color: #74757f;
    font-weight: 300;
    padding-top: 20px;}

.choose {
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    margin: 0 auto;
}

.letters {
    background-color: rgb(76, 104, 95);
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    margin: 0 auto;
}